 .app { 
 /*@import '/node_modules/office-ui-fabric/dist/css/fabric.components.min.css';
 @import'/node_modules/office-ui-fabric/dist/css/fabric.min.css';*/
       .top {
          height:60px;
          text-align:center;
          line-height:2.5;
          font-weight:bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .bottom {
          height:40px;
          text-align:center;
          line-height:2.5;
          font-weight:bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .block {
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px black solid;
            text-align: center;
            color:white;
            background-color: gray;
          }
 }