 .app { 

       .top {
          height:60px;
          text-align:center;
          line-height:2.5;
          font-weight:bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .bottom {
          height:40px;
          text-align:center;
          line-height:2.5;
          font-weight:bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .block {
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px black solid;
            text-align: center;
            color:white;
            background-color: gray;
          }
          
 }


//#CGKBar{
 // display:inline-block;
//}
 #CGKBarMessage{
  //display:inline-block;
  // position: absolute;
  // left: 0px;
 }
 #CGKContextMenu {
  //display:inline-block;
  // position: absolute;
  // right: 0px;
  float:right !important;
}
#CGKDialog{
  background-color: "[theme:themePrimary, default:#0078d7]";
  color: "[theme:white, default:white]"
}